[Unit]
Description=copy keys to /etc/pacman.d/gnupg/
After=pacman-init.service

[Service]
Type=simple
ExecStart=/usr/bin/chililinux-livecd-key.sh

[Install]
WantedBy=multi-user.target
